.header {
  position: sticky;
  top: 0;
  background-color: #181818;
  z-index: 1;
}

.header__wrap {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  padding: 15px;
  min-height: 60px;
}

.header__wrap--grid {
  display: grid;
  grid-template-areas: "logo search navBurger"
                        "nav nav nav";
  grid-template-columns: min-content 1fr min-content;
  column-gap: 10px;
}

.header__logo {
  color: white;
  grid-area: logo;
}

.header__search {
  flex-grow: 1;
  grid-area: search;
}

.header__nav {
  margin-top: 10px;
  width: 100%;
  grid-area: nav;

  background-color: #252424;
  border-radius: 10px;
  overflow: hidden;

  text-wrap: nowrap;
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  background-color: transparent;
  transition: ease-in-out 0.3s;
}

.header__toggle:hover,
.header__toggle:focus {
  opacity: 0.3;
}


@media(min-width: $tabletWidth) {
  .header__wrap {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
    row-gap: 10px;
  }

  .header__wrap--grid {
    grid-template-areas: "logo search"
                          "nav nav";
  }

  .header__nav {
    position: static;
    background-color: transparent;
    width: auto;
    margin: 0;
  }

  .header__toggle {
    display: none;
  }
}

@media(min-width: $desktopWidth) {
  .header__wrap {
    width: 100%;
    flex-direction: row;
  }

  .header__wrap--grid {
    grid-template-areas: "logo search nav";
    grid-template-columns: min-content 1fr min-content;
  }
}





