.search__form {
    width: auto;
    height: 40px;

    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 10px;
    align-items: center;
    padding-right: 5px;

    border-radius: 10px;
    overflow: hidden;
    background-color: $white;

    & input[type="text"] {
        width: 100%;
        height: 40px;

        padding-left: 10px;
        border: 0;
        font-family: inherit;
        font-size: 16px;

        &::placeholder {
            font-family: inherit;
        }
    }

    & button[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;

        border-radius: 10px;

        color: $white;
        font-family: inherit;
        font-size: 16px;
        font-weight: 300;


        &:focus,
        &:hover {
            background-color: lightgrey;
        }
    }
}

.search__icon-shape {
    fill: $gray;
}



