.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  border-bottom: 1px solid $main-border;

  &:last-child {
    border-bottom: 0;
  }

  &:focus,
  &:hover {
    background-color: $black;
  }
}

.nav__item a {
  display: block;
  padding: 10px;
  width: 100%;
  text-transform: capitalize;
  color: white;
}

@media (min-width: $tabletWidth) {
  .nav__item {
    border-radius: 5px;

    &::after {
      content: none;
    }
  }
}

@media(min-width: $tabletWidth) {
  .nav__list {
    display: flex;
  }

  .nav__item {
    border: none;
  }
}
